/* Utilities */
.stack-large>*+* {
    margin-top: var(--size-6) !important;
}

.status-dot {
    height: var(--size-2);
    width: var(--size-2);
    background-color: var(--green-5);
    border-radius: var(--radius-round);
    display: inline-block;
    margin-right: var(--size-1);
}

/* Debug Layout Utility */
.layout-debug-mode * {
    outline: var(--border-size-1) dashed rgba(255, 0, 0, 0.3) !important;
    background: rgba(255, 0, 0, 0.02) !important;
}

.layout-debug-mode .app-shell {
    /* Visualize Grid Columns (Left Sidebar | Main | Right Sidebar) */
    background: linear-gradient(90deg,
            rgba(0, 0, 255, 0.05) 0,
            rgba(0, 0, 255, 0.05) var(--size-15),
            transparent var(--size-15),
            transparent calc(100% - var(--size-15)),
            rgba(0, 0, 255, 0.05) calc(100% - var(--size-15))) !important;
}