@import "tailwindcss";
@import "open-props/style";

@import "./layers/theme.css";

@layer base, layout, components, utilities;

@import "open-props/normalize" layer(base);
@import "./layers/base.css" layer(base);
@import "./layers/layout.css" layer(layout);
@import "./layers/components.css" layer(components);
@import "./layers/utilities.css" layer(utilities);